/* top */
.padding-top-xs {
  padding-top: 8px;
}

.padding-top-sm {
  padding-top: 16px;
}

.padding-top {
  padding-top: 24px;
}

.padding-top-lg {
  padding-top: 32px;
}

.padding-top-xl {
  padding-top: 40px;
}

.padding-top-xxl {
  padding-top: 48px;
}

.padding-top-xxxl {
  padding-top: 56px;
}

/* bottom */
.padding-bottom-xs {
  padding-bottom: 8px;
}

.padding-bottom-sm {
  padding-bottom: 16px;
}

.padding-bottom {
  padding-bottom: 24px;
}

.padding-bottom-lg {
  padding-bottom: 32px;
}

.padding-bottom-xl {
  padding-bottom: 40px;
}

.padding-bottom-xxl {
  padding-bottom: 48px;
}

.padding-bottom-xxxl {
  padding-bottom: 56px;
}

/* left */
.padding-left-xs {
  padding-left: 8px;
}

.padding-left-sm {
  padding-left: 16px;
}

.padding-left {
  padding-left: 24px;
}

.padding-left-lg {
  padding-left: 32px;
}

.padding-left-xl {
  padding-left: 40px;
}

.padding-left-xxl {
  padding-left: 48px;
}

.padding-left-xxxl {
  padding-left: 56px;
}

/* right */

.padding-right-xs {
  padding-right: 8px;
}

.padding-right-sm {
  padding-right: 16px;
}

.padding-right {
  padding-right: 24px;
}

.padding-right-lg {
  padding-right: 32px;
}

.padding-right-xl {
  padding-right: 40px;
}

.padding-right-xxl {
  padding-right: 48px;
}

.padding-right-xxxl {
  padding-right: 56px;
}

/* tb */

.padding-tb-xs {
  padding: 8 0px;
}

.padding-tb-sm {
  padding: 16px 0;
}

.padding-tb {
  padding: 24px 0;
}

.padding-tb-lg {
  padding: 32px 0;
}

.padding-tb-xl {
  padding: 40px 0;
}

.padding-tb-xxl {
  padding: 48px 0;
}

.padding-tb-xxxl {
  padding: 56px 0;
}
/* lr */

.padding-lr-xs {
  padding: 0 8px;
}

.padding-lr-sm {
  padding: 0 16px;
}

.padding-lr {
  padding: 0 24px;
}

.padding-lr-lg {
  padding: 0 32px;
}

.padding-lr-xl {
  padding: 0 40px;
}

.padding-lr-xxl {
  padding: 0 48px;
}

.padding-lr-xxxl {
  padding: 0 56px;
}