.cardview {
  width: 100%;
  height: 100%;
}

@import 'styles/button.css';
@import 'styles/margin.css';
@import 'styles/padding.css';
@import 'styles/flex.css';
@import 'styles/color.css';
@import 'styles/font.css';
@import 'styles/text.css';

.round {
  border-radius: 100%;
}

.radius {
  border-radius: 6px;
}